.cta .section-heading {
  text-align: center;
}

.cta .section-text-box {
  gap: 6rem;
}

.cta .section-text {
  font-size: 2.441rem;
}

.cta .btn {
  align-self: center;
}

@media (max-width: 950px) {
  .cta .section-text {
    font-size: 2.2rem;
  }
}

@media (max-width: 650px) {
  .cta .section-text {
    font-size: 1.9rem;
  }
}
