.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4rem 6rem;
  background-color: rgb(236, 236, 236);
}

.footer li {
  list-style-type: none;
}

.footer .socialNavLink:link,
.footer .socialNavLink:visited {
  color: rgb(0, 0, 0);
  font-size: 2rem;
}
