.how-it-works .section-heading {
  text-align: center;
}

.how-it-works .card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.how-it-works .card-media {
  border: 1px solid #ccc;
  padding: 1rem;
}
