.main-nav-menu {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.main-nav-menu-item {
  display: flex;
  align-items: center;
}

.main-nav-menu-item-link:link,
.main-nav-menu-item-link:visited {
  color: #fff;
}
