.meet-the-team {
  background-color: #f2f2f2;
}

.meet-the-team .section-heading {
  text-align: center;
}

.meet-the-team .card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.meet-the-team .card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.meet-the-team .card-heading {
  text-align: center;
}

.meet-the-team .card-text {
  font-size: 1.953rem;
}

.meet-the-team img {
  border-radius: 50%;
}
