.our-story .section-content {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.our-story .grid {
  align-items: center;
  gap: 6rem;
}

.our-story .section-heading {
  text-align: center;
}

.our-story .section-text {
  font-size: 2rem;
}

.our-story img {
  object-fit: cover;
  object-position: center;
  height: 300px;
}
