.partners .section-content {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.partners .section-heading {
  text-align: center;
}

.partners .card-media img {
  border-radius: 50%;
}

.partners .btn {
  align-self: center;
}
