.team-history .section-content {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.team-history .grid {
  align-items: center;
  gap: 6rem;
}

.team-history .section-heading {
  text-align: center;
}

.team-history .section-text {
  font-size: 2rem;
}

.team-history img {
  object-fit: cover;
  object-position: center;
  height: 300px;
}
