* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  color: #111;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

p {
  line-height: 1.5;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;
}

a:link,
a:visited {
  text-decoration: none;
}

.btn {
  border: none;
  background: transparent;
  padding: 2rem 4rem;
  border-radius: 0.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
}

img {
  width: 100%;
}

/*Utility Classes*/

.btn-light {
  border: 2px solid #fff;
  color: #fff;
}

.btn-dark {
  border: 2px solid #111;
  color: #111;
}

.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

@media (max-width: 700px) {
  h1 {
    font-size: 5rem;
  }
}
